{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'register/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'register/css/style.css' %}">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('../../static/register/images/bg-registration-form-1.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'register/images/registration-form-1.jpg' %}" alt="">
				</div>
				<form action="http://127.0.0.1:8000/home/" id="form1">
					<h3 class="h3"> DigitallyDraped </h3>
					<h4 style="text-align: center;"> Register to continue </h4>
                    <br>
					<div class="form-group">
						<input type="text" placeholder="First Name" class="form-control" required>
						<input type="text" placeholder="Last Name" class="form-control" required>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control" required>
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Email Address" class="form-control" required>
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<select name="" id="" class="form-control" required>
							<option value="" disabled selected>Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="other">Other</option>
						</select>
						<i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button tye="submit">Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                    </a>
				</form>
			</div>
		</div>
		
	</body>
</html>